@import 'src/styles/_mixins';


.app-container {
    .app-content {
        padding-bottom: 8px;

        .inner-header-wrap {
            .right-action-wrap {
                .copy-button-wrapper {
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }

                .active-users-wrapper {
                    display: flex;
                    align-items: center;

                    .active-user {
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                        background-color: $secondary;
                        color: $primary;
                        border: 1px solid $base;

                        &:not(:first-of-type) {
                            margin-left: -6px;
                        }

                        .name {
                            color: inherit;
                            text-align: center;
                            font-family: $raleway-500;
                            font-size: 12px;
                            line-height: 32px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}

.canvas-wrap-ctr {
    // min-height: 500px;
    height: calc(100vh - 64px - 50px - 32px);
    overflow: hidden;
    background-color: $base;
    // border: 1px solid $border-color;
    // border-radius: 4px;

    .canvas-wrap {
        padding: 16px 16px 8px;
        height: inherit;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 280px;
        gap: 0 16px;
        overflow: auto hidden;
        border-radius: 4px;
        border: 1px solid $border-color;
        background: $light-base;

        .category-list-container {
            // margin-bottom: 4px;
            height: max-content;
            // max-height: calc(100vh - 72px - 32px - 50px - 32px - 10px - 30px);
            border-radius: 4px;
            overflow: hidden hidden;

            .category-list-wrap {
                padding: 12px 8px;
                // height: max-content;
                max-height: calc(100vh - 64px - 26px - 34px - 12px - 26px - 24px);
                border-radius: inherit;
                border: 1px solid $border-color;
                background: $base;
                overflow: hidden auto;

                &::-webkit-scrollbar {
                    width: 4px;
                    height: 4px;
                }

                &::-webkit-scrollbar-track {
                    background-color: #F3F3F5;
                    border-radius: 3px;
                    margin-block: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #E7E7E7;
                    width: 4px;
                    border-radius: 3px;
                }

                .title {
                    margin: 0 0 8px;
                    padding: 0 8px;
                    color: $on-base;
                    font-family: $base-font-family;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                    @include elipses-1;
                    @include user-select-none();
                }

                .sub-title-wrap {
                    padding: 8px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    @include user-select-none();

                    .sub-title {
                        margin: 0;
                        padding: 0 8px;
                        flex: 1;
                        color: $on-base;
                        font-family: $base-font-family;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-transform: capitalize;
                        @include elipses-1;
                    }

                    .toggle-icon-wrap {
                        // width: 20px;
                        // height: 20px;
                        // transform: rotate(0deg);
                        // transition: transform 0.25s linear;

                        &.open {
                            transform: rotate(180deg);
                        }

                        .icon,
                        svg {
                            display: block;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .requirement-list-wrap {
                    display: flex;
                    flex-direction: column;

                    &.multi-list {
                        max-height: 36px;
                        overflow: hidden;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    &.show-list {
                        margin-bottom: 8px;
                        max-height: max-content;
                    }

                    .requirement-list {
                        margin: 4px 0 12px;
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 12px 0;

                        .requirement-container {
                            position: relative;
                            padding: 8px;
                            min-height: 64px;
                            border-radius: 4px;
                            background: $light-base;
                            border: 1px solid $border-color;
                            border-bottom: 3px solid $border-color;
                            cursor: pointer;

                            .requirement-wrap {
                                display: grid;
                                grid-template-columns: 1fr 20px;
                                gap: 0 8px;
                                @include user-select-none;

                                .requirement-txt {
                                    word-break: break-all;
                                    @include elipses-1;
                                }

                                .toggle-icon-wrap {
                                    .inner-icon {
                                        display: block;
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }

                            .requirement-txt {
                                display: block;
                                color: $on-light-base;
                                font-family: $base-font-family;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                word-break: break-word;
                                -ms-word-break: break-word;
                            }

                            .action-wrap {
                                display: none;
                                position: absolute;
                                top: 8px;
                                right: 8px;
                                border-radius: 4px;
                                border: 1px solid #F4F4F4;
                                background: $base;
                                @include user-select-none;

                                .btn {
                                    padding: 7px 16px;
                                    color: $on-base;
                                    font-family: $raleway-600;
                                    font-size: 12px;
                                    font-style: normal;
                                    line-height: 20px;
                                    /* 166.667% */
                                }

                                .icon-wrap {
                                    padding: 7px 10px;
                                    transform: rotate(-180deg);

                                    .icon {
                                        width: 20px;
                                        height: 20px;
                                        display: block;
                                    }
                                }
                            }

                            .upsert-action-wrap {
                                position: relative;
                                padding: 8px 16px;
                                border-radius: 0 0 4px 4px;
                                display: flex;
                                justify-content: flex-end;
                                gap: 0 10px;
                                border-top: 1px solid $border-color;
                                background-color: $base;
                                cursor: default;

                                .app-button {
                                    padding: 4px 14px;
                                    font-size: 10px;
                                    font-style: normal;
                                    line-height: 16px;
                                    /* 160% */
                                    border-radius: 4px;
                                }
                            }

                            .textarea {
                                padding: 8px 8px;
                                width: 100%;
                                height: calc(100% - 43px);
                                position: absolute;
                                inset: 0;
                                color: $on-light-base;
                                font-family: $base-font-family;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                word-break: break-word;
                                -ms-word-break: break-word;
                                border-top-left-radius: inherit;
                                border-top-right-radius: inherit;
                                border: 0;
                                outline: none;
                                resize: none;
                            }

                            &.upsert-mode {
                                border: 1px solid $primary;
                                border-bottom-width: 3px;
                                padding: 0;
                                overflow: hidden;

                                .requirement-txt {
                                    padding: 11px;
                                    margin-top: 32px;
                                }

                                .action-wrap {
                                    display: none;
                                }
                            }

                            &:not(.upsert-mode):hover {
                                // padding: 11px 11px 12px;
                                // border: 1px solid $on-base-blue;
                                // border-bottom-width: 3px;
                                // background: $base;
                                border-color: $primary;

                                .action-wrap {
                                    display: flex;
                                }
                            }

                            &:has(.requirement-wrap) {
                                min-height: unset;

                                &:hover {
                                    .action-wrap {
                                        display: none;
                                    }
                                }
                            }

                            .live-users-wrapper {
                                display: flex;
                                align-items: center;
                                margin-top: 8px;

                                &.with-edit {
                                    position: absolute;
                                    z-index: 99;
                                    left: 0;
                                    bottom: 44px;
                                    width: 100%;
                                    padding: 0px 12px 0 11px;
                                }

                                .live-user {
                                    height: 32px;
                                    width: 32px;
                                    border-radius: 50%;
                                    background-color: $secondary;
                                    border: 1px solid $base;

                                    &:not(:first-of-type) {
                                        margin-left: -6px;
                                    }

                                    .name {
                                        color: #0B0BCF;
                                        text-align: center;
                                        font-family: $raleway-500;
                                        font-size: 12px;
                                        line-height: 32px;
                                        text-transform: uppercase;
                                    }
                                }
                            }

                            &.high {
                                border-color: rgb(52, 168, 83);
                            }

                            &.medium {
                                border-color: rgb(251, 188, 5);
                            }

                            &.low {
                                border-color: rgb(234, 67, 53);
                            }
                        }
                    }
                }
            }
        }
    }


    .add-btn {
        padding: 6px 12px;
        font-family: $base-font-family;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border: 1px solid $border-color;
        background-color: $light-base;

        .btn-icon {
            width: 16px;
            height: 16px;
        }
    }
}

.migrate-version-modal {
    padding: 32px 56px;
    width: 640px;

    .title {
        text-align: center;
        font-family: $raleway-600;
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    .actions-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 36px;

        .btn {
            padding: 12px 36px;
            border-radius: 8px;
            background-color: $primary;
            color: $base;
            outline: none;
            border: none;
            cursor: pointer;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);

            .label {
                color: inherit;
                font-family: $raleway-500;
                font-size: 16px;
                line-height: 24px;
            }

            &.light {
                background-color: #F4F4F4;
                color: $on-base;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .migrate-version-modal {
        width: 100%;
        max-width: 640px;
    }
}