<div class="app-container">

    <div class="main-header">
        <div class="main-nav-wrap">
            <app-project-go-back-btn></app-project-go-back-btn>

            <h2 class="header-title">{{ projectDetails?.projectName }}</h2>
        </div>
        <div class="main-action-wrap">
            <app-project-exit-btn></app-project-exit-btn>
            <app-header></app-header>
        </div>
    </div>

    <div class="app-content">
        <div class="inner-header-wrap">
            <div class="left-action-wrap align-self-start">
                <h2 class="main-title">Document Upload</h2>
            </div>

            <div class="right-action-wrap">
                <!-- *ngIf="isUploadVisible && permissions.PROJECT_UPLOAD.includes(currentUser.type)" -->
                <button class="app-button primary"(click)="onUploadMedia()">
                    <svg class="btn-icon" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path
                            d="M2.66699 11.3332V12.6665C2.66699 13.0201 2.80747 13.3593 3.05752 13.6093C3.30756 13.8594 3.6467 13.9998 4.00033 13.9998H12.0003C12.3539 13.9998 12.6931 13.8594 12.9431 13.6093C13.1932 13.3593 13.3337 13.0201 13.3337 12.6665V11.3332M4.66699 5.99984L8.00033 2.6665M8.00033 2.6665L11.3337 5.99984M8.00033 2.6665V10.6665"
                            stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span class="btn-label">Upload</span>
                </button>
            </div>
        </div>
    </div>


    <ng-container *ngIf="isUploadingDocs">
        <app-upload-doc-modal (onClose)="onCloseUploadMediaModal($event)"></app-upload-doc-modal>
    </ng-container>
</div>