<app-modal id="uploadDocumentModal" (onClose)="onCloseModal($event)">
    <div class="upload-wrapper">
        <div class="title">
            Upload document
        </div>

        <form [formGroup]="documentForm">
            <div class="input-container">
                <div class="input-wrap">
                    <label class="label required" for="title">Title</label>
                    <input class="input" type="text" id="title" formControlName="title"
                        placeholder="Enter document title">
                </div>

                <div class="err-wrap" *ngIf="(title?.touched && title?.errors)">
                    <p *ngIf="title?.errors?.['required']" class="err-msg">document title is required!</p>
                </div>
            </div>
            <div class="input-container">
                <div class="radio-wrap">
                    <label class="label w-100 required">choose one type</label>
                    <input class="input" type="radio" id="withData" value="withData" name="dataType"
                        formControlName="dataType" />
                    <label class="label" for="withData">file with data</label>

                    <input class="input" type="radio" id="withPrompt" value="withPrompt" name="dataType"
                        formControlName="dataType" />
                    <label class="label" for="withPrompt">file with prompt</label>

                    <input class="input" type="radio" id="witheBlank" value="witheBlank" name="dataType"
                        formControlName="dataType" />
                    <label class="label" for="witheBlank">create blank document</label>
                </div>

                <div class="err-wrap" *ngIf="(dataType?.touched && dataType?.errors)">
                    <p *ngIf="dataType?.errors?.['required']" class="err-msg">document type is required!</p>
                </div>
            </div>
        </form>

        <ng-container *ngIf="(dataType?.value !== 'witheBlank' || dataType?.value === ''); else createBlank">
            <div class="input-container" appDragDropFile (fileDropped)="onFileDrop($event)">
                <div class="uploader-wrapper">
                    <div class="message-wrapper" *ngIf="!documentFile">
    
                        <label class="label" for="file-select">
                            Click here to select a file(s)
                            <input class="file-select" id="file-select" type="file"
                                (change)="onUploadProjectCoverThumb($event)">
                        </label>
                        <div class="gray">
                            or Drag and drop here
                        </div>
                        <div class="small">
                            .docx
                        </div>
                    </div>
    
                    <div class="details-wrapper" *ngIf="documentFile">
                        <div class="name">
                            {{ documentFile?.name }}
                        </div>
                        <div class="progress-bar-wrapper">
                            <div class="bar" [class.success]="documentUploadProgress == 100"
                                [style.width.%]="documentUploadProgress"></div>
                        </div>
                    </div>
    
                </div>
    
            </div>

            <button class="app-button primary wide" [disabled]="!documentFile || documentForm.invalid"
                (click)="onUploadDocument()">
                <span class="btn-icon">
                    <svg width="15" height="18" viewBox="0 0 15 18" fill="none">
                        <mask id="mask0_539_584" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="15" height="18">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 0.676392H14.7101V17.221H0.5V0.676392Z"
                                fill="white" />
                        </mask>
                        <g mask="url(#mask0_539_584)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M4.31089 1.92639C2.93006 1.92639 1.78339 3.04472 1.75089 4.42389V13.3564C1.72089 14.7739 2.83756 15.9406 4.24172 15.9714H10.9776C12.3684 15.9214 13.4692 14.7739 13.4601 13.3606V5.94972L9.59839 1.92639H4.32089H4.31089ZM4.32089 17.2214H4.21589C2.12256 17.1764 0.45589 15.4364 0.50089 13.3431V4.40889C0.550057 2.34139 2.25672 0.676392 4.30839 0.676392H4.32339H9.86422C10.0342 0.676392 10.1967 0.745558 10.3151 0.868058L14.5367 5.26556C14.6476 5.38139 14.7101 5.53722 14.7101 5.69806V13.3564C14.7234 15.4472 13.0934 17.1464 10.9992 17.2214H4.32089Z"
                                fill="white" />
                        </g>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M14.0815 6.48687H11.7865C10.2607 6.4827 9.02148 5.23937 9.02148 3.71604V1.29187C9.02148 0.94687 9.30148 0.66687 9.64648 0.66687C9.99148 0.66687 10.2715 0.94687 10.2715 1.29187V3.71604C10.2715 4.5527 10.9515 5.23437 11.7882 5.23687H14.0815C14.4265 5.23687 14.7065 5.51687 14.7065 5.86187C14.7065 6.20687 14.4265 6.48687 14.0815 6.48687"
                            fill="white" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M7.28418 12.9167C6.93918 12.9167 6.65918 12.6367 6.65918 12.2917V7.25757C6.65918 6.91257 6.93918 6.63257 7.28418 6.63257C7.62918 6.63257 7.90918 6.91257 7.90918 7.25757V12.2917C7.90918 12.6367 7.62918 12.9167 7.28418 12.9167"
                            fill="white" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M5.33085 9.84545C5.17168 9.84545 5.01168 9.78461 4.89002 9.66295C4.64585 9.41961 4.64418 9.02461 4.88835 8.77961L6.84168 6.81628C7.07668 6.58045 7.49335 6.58045 7.72751 6.81628L9.68252 8.77961C9.92585 9.02461 9.92502 9.41961 9.68085 9.66295C9.43585 9.90628 9.04001 9.90628 8.79668 9.66128L7.28502 8.14295L5.77335 9.66128C5.65168 9.78461 5.49085 9.84545 5.33085 9.84545"
                            fill="white" />
                    </svg>
                </span>
                <span class="btn-label">Upload template</span>
            </button>
        </ng-container>

        <ng-template #createBlank>
            <button class="app-button primary wide" [class.disabled]="documentForm.invalid" [disabled]="documentForm.invalid"
                (click)="onUploadDocument()">
                <span class="btn-label">create blank document</span>
            </button>
        </ng-template>

    </div>
</app-modal>