@import 'src/styles/mixins';

.upload-wrapper {
    width: 420px;
    padding: 16px;
    background-color: $base;
    border: 1px solid $border-color;
    border-radius: 4px;

    .title {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        text-transform: capitalize;
        border-bottom: 1px solid $border-color;
        margin-bottom: 24px;
    }

    .input-container {
        margin-bottom: 22px;

        .uploader-wrapper {
            padding: 48px;
            width: 100%;
            border-radius: 4px;
            background-color: $light-base;
            border: 1px solid $border-color;
            overflow: hidden;

            .message-wrapper {
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-align: center;

                .label {
                    display: block;
                    color: $primary;
                    margin-bottom: 6px;
                    cursor: pointer;
                }

                .file-select {
                    display: none;
                }
            }

        }

        .details-wrapper {
            .name {
                color: rgba(10, 9, 8, 0.80);
                text-align: center;
                font-family: $raleway-500;
                font-size: 10px;
                font-weight: 500;
                line-height: 20px;
                text-transform: uppercase;
                text-align: center;
                @include elipses-1;
                margin-bottom: 12px;
            }

            .message {
                color: rgba(10, 9, 8, 0.40);
                text-align: center;
                font-family: $raleway-500;
                font-size: 10px;
                font-weight: 500;
                line-height: 20px;
                text-align: center;
                @include elipses-1;
                margin-bottom: 12px;
            }

            .progress-bar-wrapper {
                position: relative;
                width: 296px;
                height: 4px;
                background-color: #D8D8FF;
                border-radius: 4px;
                margin: auto;
                margin-bottom: 12px;

                .bar {
                    display: block;
                    position: absolute;
                    inset: 0;
                    width: 0%;
                    height: 4px;
                    background-color: $primary;
                    border-radius: inherit;

                    &.success {
                        background-color: #5FAD56;
                    }
                }

            }
        }

        .input-wrap {
            display: flex;
            flex-direction: column;
            gap: 8px 0;

            .label {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
            }

            .input {
                padding: 8px;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background-color: $light-base;
                border: 1px solid $border-color;
                border-radius: 4px;

                &.multiline {
                    outline: 0;
                    resize: none;
                }

                &:has(.ng-invalid) {
                    border-color: $error;
                }

            }

        }

        .radio-wrap {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 6px 0;

            .label {
                color: $on-base;
                font-family: $raleway-500;
                font-size: 12px;
                font-style: normal;
                line-height: 20px;
                text-transform: capitalize;
                margin-right: 8px;
                cursor: pointer;

                &.w-100 {
                    flex: 100%;
                }
            }

            .input {
                margin: 0;
                margin-right: 4px;
                cursor: pointer;
            }
        }

        .err-wrap {
            margin-top: 2px;
            display: flex;
            flex-direction: column;

            .err-msg {
                margin: 0;
                color: $error;
                font-family: $raleway-500;
                font-size: 12px;
                font-style: normal;
                line-height: 18px;
            }
        }
    }

    .actions-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
    }

}