@import 'src/styles/mixins';

.upload-wrapper {
    width: 640px;
    padding: 32px 56px;
    
    .title {
        text-align: center;
        font-family: $raleway-600;
        font-size: 24px;
        font-style: normal;
        line-height: 36px;
        margin-bottom: 32px;
    }

    .input-container {
        margin-bottom: 32px;

        .uploader-wrapper {
            padding: 24px 36px;
            width: 100%;
            height: 124px;
            border-radius: 12px;
            border: 1px dashed #5386E4;
            background: rgba(236, 236, 254, 0.50);
            overflow: hidden;

            .message-wrapper {
                font-family: $raleway-600;
                font-size: 16px;
                font-style: normal;
                line-height: 24px;
                text-align: center;

                .label {
                    color: $on-secondary;
                    cursor: pointer;
                }

                .file-select {
                    display: none;
                }

                .gray {
                    color: rgba(10, 9, 8, 0.80);
                }

                .small {
                    color: rgba(10, 9, 8, 0.80);
                    text-align: center;
                    font-family: $raleway-500;
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 20px;
                    text-transform: uppercase;
                    margin-top: 8px;
                }
            }

        }

        .details-wrapper {
            .name {
                color: rgba(10, 9, 8, 0.80);
                text-align: center;
                font-family: $raleway-500;
                font-size: 10px;
                font-weight: 500;
                line-height: 20px;
                text-transform: uppercase;
                text-align: center;
                @include elipses-1;
                margin-bottom: 12px;
            }

            .message {
                color: rgba(10, 9, 8, 0.40);
                text-align: center;
                font-family: $raleway-500;
                font-size: 10px;
                font-weight: 500;
                line-height: 20px;
                text-align: center;
                @include elipses-1;
                margin-bottom: 12px;
            }

            .progress-bar-wrapper {
                position: relative;
                width: 296px;
                height: 4px;
                background-color: #D8D8FF;
                border-radius: 4px;
                margin: auto;
                margin-bottom: 12px;

                .bar {
                    display: block;
                    position: absolute;
                    inset: 0;
                    width: 0%;
                    height: 4px;
                    background-color: $primary;
                    border-radius: inherit;

                    &.success {
                        background-color: #5FAD56;
                    }
                }

            }
        }

        .input-wrap {
            display: flex;
            flex-direction: column;
            gap: 8px 0;

            .label {
                color: $on-base;
                font-family: $raleway-500;
                font-size: 12px;
                font-style: normal;
                line-height: 20px;
                text-transform: capitalize;
            }

            .input {
                padding: 11px 16px;
                color: $on-base;
                font-family: $raleway-500;
                font-size: 14px;
                font-style: normal;
                line-height: 24px;
                border-radius: 12px;
                border: 1px solid rgba(216, 216, 255, 1);

                &.multiline {
                    outline: 0;
                    resize: none;
                }

                &:has(.ng-invalid) {
                    border-color: $error;
                }

                &::placeholder,
                &::-webkit-input-placeholder {
                    color: rgba(10, 9, 8, 0.40);
                    font-family: $raleway-500;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 24px;
                    /* 171.429% */
                }
            }

        }

        .radio-wrap {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 6px 0;

            .label {
                color: $on-base;
                font-family: $raleway-500;
                font-size: 12px;
                font-style: normal;
                line-height: 20px;
                text-transform: capitalize;
                margin-right: 16px;
                cursor: pointer;
                &.w-100 {
                    flex: 100%;
                }
            }
            .input {
                margin: 0;
                margin-right: 8px;
                cursor: pointer;
            }
        }

        .err-wrap {
            margin-top: 2px;
            display: flex;
            flex-direction: column;

            .err-msg {
                margin: 0;
                color: $error;
                font-family: $raleway-500;
                font-size: 12px;
                font-style: normal;
                line-height: 18px;
            }
        }
    }

}