<app-modal id="uploadDocumentModal" (onClose)="onCloseModal($event)">
    <div class="upload-wrapper">
        <div class="title">
            Upload document
        </div>

        <form [formGroup]="documentForm">
            <div class="input-container">
                <div class="input-wrap">
                    <label class="label required" for="title">Title</label>
                    <input class="input" type="text" id="title" formControlName="title"
                        placeholder="Enter document title">
                </div>

                <div class="err-wrap" *ngIf="(title?.touched && title?.errors)">
                    <p *ngIf="title?.errors?.['required']" class="err-msg">Title is required!</p>
                </div>
            </div>
            <div class="input-container">
                <div class="radio-wrap">
                    <label class="label w-100 required">choose one type</label>
                    <input class="input" type="radio" id="withData" value="withData" name="dataType"
                        formControlName="dataType" />
                    <label class="label" for="withData">file with data</label>

                    <input class="input" type="radio" id="withPrompt" value="withPrompt" name="dataType"
                        formControlName="dataType" />
                    <label class="label" for="withPrompt">file with prompt</label>

                    <input class="input" type="radio" id="withBlank" value="withBlank" name="dataType"
                        formControlName="dataType" />
                    <label class="label" for="withBlank">create blank document</label>
                </div>

                <div class="err-wrap" *ngIf="(dataType?.touched && dataType?.errors)">
                    <p *ngIf="dataType?.errors?.['required']" class="err-msg">document type is required!</p>
                </div>
            </div>
        </form>

        <ng-container *ngIf="dataType?.value !== 'withBlank'">
            <div class="input-container" appDragDropFile (fileDropped)="onFileDrop($event)">
                <div class="uploader-wrapper">
                    <div class="message-wrapper" *ngIf="!documentFile">

                        <label class="label" for="file-select">
                            Click here to select a file(s)
                            <input class="file-select" id="file-select" type="file"
                                (change)="onUploadProjectCoverThumb($event)">
                        </label>
                        <div>
                            or Drag and drop here
                        </div>
                        <div>
                            .DOCX
                        </div>
                    </div>

                    <div class="details-wrapper" *ngIf="documentFile">
                        <div class="name">
                            {{ documentFile?.name }}
                        </div>
                        <div class="progress-bar-wrapper">
                            <div class="bar" [class.success]="documentUploadProgress == 100"
                                [style.width.%]="documentUploadProgress"></div>
                        </div>
                    </div>

                </div>

            </div>

        </ng-container>

        <div class="actions-wrapper">
            <button class="app-button primary" *ngIf="dataType?.value == 'withBlank'" [disabled]="documentForm.invalid"
                (click)="onUploadDocument()">
                <span class="btn-label">Create blank document</span>
            </button>
            <button class="app-button primary" *ngIf="dataType?.value != 'withBlank'"
                [disabled]="!documentFile || documentForm.invalid" (click)="onUploadDocument()">
                <svg class="btn-icon" width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path
                        d="M1.66602 10.3332V11.6665C1.66602 12.0201 1.80649 12.3593 2.05654 12.6093C2.30659 12.8594 2.64573 12.9998 2.99935 12.9998H10.9993C11.353 12.9998 11.6921 12.8594 11.9422 12.6093C12.1922 12.3593 12.3327 12.0201 12.3327 11.6665V10.3332M3.66602 4.99984L6.99935 1.6665M6.99935 1.6665L10.3327 4.99984M6.99935 1.6665V9.6665"
                        stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="btn-label">Upload template</span>
            </button>
            <button class="app-button" (click)="onCancel()">
                <span class="btn-label">Cancel</span>
            </button>
        </div>

        <!-- <ng-template #createBlank>
            <button class="app-button primary wide" [class.disabled]="documentForm.invalid" [disabled]="documentForm.invalid"
                (click)="onUploadDocument()">
                <span class="btn-label">create blank document</span>
            </button>
        </ng-template> -->

    </div>
</app-modal>