@import 'src/styles/mixins';


.documents-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    .documents-header {
        position: sticky;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        flex: 0;
        z-index: 1;
        background-color: $light-base;

        .breadcrumbs-wrapper {
            display: flex;
            margin-right: auto;
            gap: 18px;

            .back-icon {
                height: 20px;
                width: 20px;
                cursor: pointer;
            }

            .breadcrumb-item {
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                margin: 0;
            }
        }

        .actions-wrapper {
            display: flex;
            gap: 16px;
        }
    }

    .body {
        position: relative;
        flex: 1;
        background-color: $base;
        border-radius: 4px;
        border: 1px solid $border-color;
        margin-right: 16px;
        padding: 16px;
        overflow: auto;
    }

    .inner-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        .title {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
            margin: 0;
        }

        .right-side {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
        }
    }

    .pills-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 24px;
        width: 100%;
        overflow: auto;
        padding-bottom: 8px;
        margin-bottom: 16px;

        .pill-wrapper {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            text-transform: capitalize;
            text-wrap: nowrap;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &:hover,
            &.selected {
                border-bottom: 2px solid $primary;
            }
        }
    }

    .templates-list-wrapper {
        .app-table-wrap {
            .tbl-tr {
                grid-template-columns: minmax(320px, 1fr) minmax(220px, 0.6fr) minmax(220px, 0.6fr) 175px;

                .tbl-td {
                    &.with-icon {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        svg {
                            color: $on-base-blue;
                        }
                    }

                    .items-wrap {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 0 34px;
                    }

                    .edit-action-wrap {
                        display: inline-flex;
                        align-items: center;
                        color: $primary;
                        cursor: pointer;
                    }

                    .delete-icon {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.app-table-ctrl {
    border: 0;
    border-radius: 4px;
    overflow: hidden;

    .app-table-wrap {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px 0;
        border-radius: inherit;
        background-color: $base;
        overflow-x: auto;

        .tbl-tr {
            display: grid;
            align-items: center;
            /** make columns based on table requirement using 'grid-template-columns' */
            grid-template-columns: minmax(60px, 60px) minmax(320px, 1fr) max-content;
            border-radius: 4px;
            background-color: $light-base;
            border: 1px solid $border-color;

            .tbl-td {
                padding: 12px 10px;
                color: $on-light-base;
                font-family: $base-font-family;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                word-break: break-word;

                &.text-cap {
                    text-transform: capitalize;
                }

                &.text-end {
                    text-align: end;
                }

                &.profile {
                    padding: 0;
                    gap: 10px;

                    .profile-wrap {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: $base;

                        .img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .name {
                        color: $on-light-base;
                        font-family: $base-font-family;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
            }

            .tbl-td {
                &:first-child {
                    padding-left: 28px;
                    cursor: pointer;
                }

                &:last-child {
                    padding-right: 28px;
                }

                svg {
                    display: block;
                }
            }

            &.selected,
            &:hover {
                background-color: $light-primary;

                .tbl-td {
                    &.icons-tbl-td {
                        color: $on-light-base;
                    }
                }
            }
        }

        .template-details {
            display: flex;
            flex-direction: column;

            .name {
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                margin-bottom: 4px;
            }

            .details {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .actions {
            align-self: center;
            display: flex;
            gap: 20px;

            .icon {
                cursor: pointer;
            }
        }

    }
}

:host {

    ::ng-deep {
        .document-editor {
            border: 1px solid var(--ck-color-base-border);
            border-radius: var(--ck-border-radius);

            /* Set vertical boundaries for the document editor.*/
            // max-height: calc(100vh - 70px - 50px - 16px);
            max-height: calc(100vh - 70px - 50px - 16px);

            /* This element is a flex container for easier rendering. */
            display: flex;
            flex-flow: column nowrap;
        }

        .document-editor__toolbar {
            /* Make sure the toolbar container is always above the editable. */
            z-index: 1;

            /* Create the illusion of the toolbar floating over the editable. */
            box-shadow: 0 0 5px hsla(0, 0%, 0%, .2);

            /* Use the CKEditor CSS variables to keep the UI consistent. */
            border-bottom: 1px solid var(--ck-color-toolbar-border);
        }

        /* Adjust the look of the toolbar inside the container. */
        .document-editor__toolbar .ck-toolbar {
            border: 0;
            border-radius: 0;
        }

        /* Make the editable container look like the inside of a native word processor application. */
        .document-editor__editable-container {
            padding: calc(2 * var(--ck-spacing-large));
            background: #e5e5e5;

            /* Make it possible to scroll the "page" of the edited content. */
            overflow-y: scroll;
        }

        .document-editor__editable-container .ck-editor__editable {
            /* Set the dimensions of the "page". */
            width: 21cm;
            min-height: 29.7cm;

            /* Keep the "page" off the boundaries of the container. */
            padding: 20mm 12mm;

            border: 1px hsl(0, 0%, 82.7%) solid;
            border-radius: var(--ck-border-radius);
            background: white;

            /* The "page" should cast a slight shadow (3D illusion). */
            box-shadow: 0 0 5px hsla(0, 0%, 0%, .1);

            /* Center the "page". */
            margin: 0 auto;
        }

        // /* Set the default font for the "page" of the content. */
        // .document-editor .ck-content,
        // .document-editor .ck-heading-dropdown .ck-list .ck-button__label {
        //     font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
        // }

        // /* Adjust the headings dropdown to host some larger heading styles. */
        // .document-editor .ck-heading-dropdown .ck-list .ck-button__label {
        //     line-height: calc( 1.7 * var(--ck-line-height-base) * var(--ck-font-size-base) );
        //     min-width: 6em;
        // }

        // /* Scale down all heading previews because they are way too big to be presented in the UI.
        // Preserve the relative scale, though. */
        // .document-editor .ck-heading-dropdown .ck-list .ck-button:not(.ck-heading_paragraph) .ck-button__label {
        //     transform: scale(0.8);
        //     transform-origin: left;
        // }

        // /* Set the styles for "Heading 1". */
        // .document-editor .ck-content h2,
        // .document-editor .ck-heading-dropdown .ck-heading_heading1 .ck-button__label {
        //     font-size: 2.18em;
        //     font-weight: normal;
        // }

        // .document-editor .ck-content h2 {
        //     line-height: 1.37em;
        //     padding-top: .342em;
        //     margin-bottom: .142em;
        // }

        // /* Set the styles for "Heading 2". */
        // .document-editor .ck-content h3,
        // .document-editor .ck-heading-dropdown .ck-heading_heading2 .ck-button__label {
        //     font-size: 1.75em;
        //     font-weight: normal;
        //     color: hsl( 203, 100%, 50% );
        // }

        // .document-editor .ck-heading-dropdown .ck-heading_heading2.ck-on .ck-button__label {
        //     color: var(--ck-color-list-button-on-text);
        // }
        // /* Set the styles for "Heading 2". */
        // .document-editor .ck-content h3 {
        //     line-height: 1.86em;
        //     padding-top: .171em;
        //     margin-bottom: .357em;
        // }

        // /* Set the styles for "Heading 3". */
        // .document-editor .ck-content h4,
        // .document-editor .ck-heading-dropdown .ck-heading_heading3 .ck-button__label {
        //     font-size: 1.31em;
        //     font-weight: bold;
        // }

        // .document-editor .ck-content h4 {
        //     line-height: 1.24em;
        //     padding-top: .286em;
        //     margin-bottom: .952em;
        // }

        // /* Set the styles for "Paragraph". */
        // .document-editor .ck-content p {
        //     // font-size: 1em;
        //     // line-height: 1.63em;
        //     // padding-top: .5em;
        //     // margin-bottom: 1.13em;
        // }

        // /* Make the block quoted text serif with some additional spacing. */
        // .document-editor .ck-content blockquote {
        //     font-family: Georgia, serif;
        //     margin-left: calc( 2 * var(--ck-spacing-large) );
        //     margin-right: calc( 2 * var(--ck-spacing-large) );
        // }


        .ck-body-wrapper {
            position: unset;
        }

    }
}


.sign-document-modal {
    padding: 32px 56px;
    width: 640px;

    .title {
        font-family: $raleway-600;
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    
    .input-container {
        margin-bottom: 24px;

        .input-wrap {
            display: flex;
            flex-direction: column;
            gap: 8px 0;

            .label {
                color: $on-base;
                font-family: $raleway-500;
                font-size: 12px;
                font-style: normal;
                line-height: 20px;
                text-transform: capitalize;
            }

            .input {
                padding: 11px 16px;
                color: $on-base;
                font-family: $raleway-500;
                font-size: 14px;
                font-style: normal;
                line-height: 24px;
                border-radius: 12px;
                border: 1px solid rgba(216, 216, 255, 1);

                &:disabled {
                    background-color: #F6F9FF;
                }

                &.multiline {
                    outline: 0;
                    resize: none;
                }

                &:has(.ng-invalid) {
                    border-color: $error;
                }

                &::placeholder,
                &::-webkit-input-placeholder {
                    color: rgba(10, 9, 8, 0.40);
                    font-family: $raleway-500;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 24px;
                    /* 171.429% */
                }
            }

        }

        .err-wrap {
            margin-top: 2px;
            display: flex;
            flex-direction: column;

            .err-msg {
                margin: 0;
                color: $error;
                font-family: $raleway-500;
                font-size: 12px;
                font-style: normal;
                line-height: 18px;
            }
        }
    }

    .sign-label {
        font-family: $raleway-500;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .link-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        border: 1px solid rgb(216, 216, 255);
        padding: 4px 12px;
        border-radius: 8px;

        .link {
            flex: 1;
            font-family: $raleway-400;
            font-size: 14px;
            line-height: 36px;
        }

        .copy-btn {
            cursor: pointer;
        }
    }

    .actions-container {
        display: flex;
        align-items: center;
        gap: 18px;
        .spinner {
            height: 24px;
            width: 24px;
            border: 3px solid;
            border-radius: 12px;
            border-color: $primary $primary $primary transparent;
            animation: spinner 350ms infinite linear;
        }
    }

}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.document-migration-modal {
    padding: 32px 56px;
    width: 640px;

    .title {
        text-align: center;
        font-family: $raleway-600;
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 24px;
    }

    .actions-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 36px;

        .btn {
            padding: 12px 36px;
            border-radius: 8px;
            background-color: #D12335;
            color: $base;
            outline: none;
            border: none;
            cursor: pointer;

            .label {
                color: inherit;
                font-family: $raleway-500;
                font-size: 16px;
                line-height: 24px;
            }

            &.light {
                background-color: #F4F4F4;
                color: $on-base;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .document-migration-modal {
        width: 100%;
        max-width: 640px;
    }
}