@import 'src/styles/_mixins';

.modal-wrapper {
    padding: 10px;
    position: absolute;
    inset: 0 0 0 0;
    top: 64px;
    width: calc(100% - 16px);
    height: auto;
    display: none;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.30);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    overflow: auto;
    z-index: 99;

    &.visible {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    &.full-screen {
        top: unset !important;
        inset: 0 !important;
        width: 100% !important;
        border-radius: unset !important;
    }

    .modal-container {
        position: relative;
        min-width: 320px;
        background-color: $base;
        border-radius: 4px;
        overflow: auto;

        .close-button {
            position: absolute;
            top: 6px;
            right: 6px;
            padding: 0;
            background-color: transparent;
            color: $on-base;
            border: none;
            
            &:hover {
                cursor: pointer;
            }

            .close-icon {
                display: block;
                width: 24px;
                height: 24px;
            }
        }
    }
}