<div class="app-container">

    <div class="main-header">
        <div class="main-nav-wrap"></div>
        <div class="main-action-wrap">
            <app-header></app-header>
        </div>
    </div>

    <div class="app-content">
        <h2 class="main-title mb-16">apps Settings</h2>

        <div class="app-list" *ngIf="appList.length > 0">
            <div class="app-wrap" *ngFor="let app of appList;">
                <div class="app-img-wrap">
                    <img class="app-img" width="48" height="48" src="assets/images/{{app.src}}" alt="{{app.title}}">
                </div>

                <div class="content-wrap">
                    <div class="desc-wrap">
                        <div class="app-title">{{app.title}}</div>
                        <div class="desc">Connect {{app.title}} to your workspace to easily invite contacts, share conversations, and get notifications</div>
                    </div>
                    <button *ngIf="!app?.isAdded" class="app-button primary" (click)="commonOnClickFn(app)">
                        <div class="btn-label">add</div>
                    </button>
                    <button *ngIf="app?.isAdded" class="app-button primary" (click)="commonOnClickFn(app)">
                        <div class="btn-label">remove</div>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>