<div class="add-member-wrapper" #memberWrapper>
    <div class="title">
        {{ editMode ? 'edit member' : 'add a new member' }}
    </div>

    <form class="body" [formGroup]="userForm">
        <div class="input-container">
            <div class="input-wrap">
                <label class="label" for="firstName">User first name</label>
                <input class="input" type="text" id="firstName" formControlName="firstName" placeholder="Enter first name">
            </div>

            <div class="err-wrap" *ngIf="(firstName?.touched && firstName?.errors)">
                <p *ngIf="firstName?.errors?.['required']" class="err-msg">First name is required!</p>
                <p *ngIf="firstName?.errors?.['maxlength']" class="err-msg">First name must not exceed {{firstName?.errors?.['maxlength']['requiredLength']}} characters.</p>
            </div>
        </div>

        <div class="input-container">
            <div class="input-wrap">
                <label class="label" for="lastName">User last name</label>
                <input class="input" type="text" id="lastName" formControlName="lastName" placeholder="Enter last name">
            </div>

            <div class="err-wrap" *ngIf="(lastName?.touched && lastName?.errors)">
                <p *ngIf="lastName?.errors?.['maxlength']" class="err-msg">Last name must not exceed {{lastName?.errors?.['maxlength']['requiredLength']}} characters.</p>
            </div>
        </div>

        <div class="input-container">
            <div class="input-wrap">
                <label class="label" [class.required]="!editMode" for="name">User Email</label>
                <input class="input" type="text" id="name" formControlName="email" placeholder="Enter email">
            </div>

            <div class="err-wrap" *ngIf="(email?.touched && email?.errors)">
                <p *ngIf="email?.errors?.['required']" class="err-msg">Email address is required!</p>
                <p *ngIf="email?.errors?.['pattern']" class="err-msg">Please enter valid email address!</p>
                <p *ngIf="email?.errors?.['maxlength']" class="err-msg">An email address must not exceed 254 characters.</p>
            </div>
        </div>

        <div class="role-dropdown">
            <div class="label required">User Role</div>
            <div class="selected-role" (click)="roleToggler = !roleToggler" #selectedRoleWrapper>
                <div class="option">{{ selectedRole.title }}</div>
                <svg class="icon" [class.open]="roleToggler" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <circle cx="8" cy="8" r="7.25" stroke="#E4E7EC" stroke-width="1.5"/>
                    <path d="M5 7L8 10L11 7" stroke="#344051" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="options-list" *ngIf="roleToggler" #roleListWrapper>
                <div class="option-wrapper" (click)="onSelectRole($event, roleIndex)" *ngFor="let role of roleOptions; let roleIndex = index">
                    <div class="option-label">
                        {{ role.title }}
                    </div>
                    <svg *ngIf="selectedRole.title == role.title" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M7.0332 10.0004L9.01158 11.9779L12.9666 8.02289" stroke="#0B0BCF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>

        <div class="project-dropdown">
            <div class="label required">Project Access</div>
            <div class="selected-project" (click)="projectToggler = !projectToggler" #selectedProjectWrapper>
                <div class="option">{{ selectedProjectString }}</div>
                <svg class="icon" [class.open]="projectToggler" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <circle cx="8" cy="8" r="7.25" stroke="#E4E7EC" stroke-width="1.5"/>
                    <path d="M5 7L8 10L11 7" stroke="#344051" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="options-list" *ngIf="projectToggler" #projectListWrapper>
                <div class="option-wrapper all" (click)="onSelectAllProject($event)">
                    <div class="option-label">All Projects</div>
                </div>
                <div class="option-wrapper" (click)="onSelectProject($event, projectIndex)" *ngFor="let project of projectsList; let projectIndex = index">
                    <div class="option-label">
                        {{ project.projectName }}
                    </div>
                    <svg width="14" height="14" viewBox="0 0 18 18" fill="none" *ngIf="project.checked">
                        <rect x="0.5" y="0.5" width="17" height="17" rx="3.5" fill="#2C76FF" stroke="#2C76FF"/>
                        <path d="M4 9.33333L6.12973 13.3088C6.30235 13.6311 6.75113 13.6652 6.97047 13.3727L14 4" stroke="white" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                    <svg width="14" height="14" viewBox="0 0 18 18" fill="none" *ngIf="!project.checked">
                        <rect x="0.5" y="0.5" width="17" height="17" rx="3.5" fill="#F9FAFB" stroke="#E4E7EC"/>
                    </svg>
                </div>
            </div>
        </div>
    </form>

    <div class="footer">
        <button class="app-button primary" [class.disabled]="userForm.invalid || selectedProjectString == 'None'" [disabled]="userForm.invalid || selectedProjectString == 'None'" (click)="onSendInvite()">
            <span class="btn-label">
                {{ editMode ? 'Save Changes' : 'Send invite' }}
            </span>
        </button>
        <button class="app-button cancel" (click)="onCloseModal()">
            <span class="btn-label">
                cancel
            </span>
        </button>
    </div>
</div>