@import 'src/styles/mixins';


.app-container {

    .app-content {
        margin: 0;
        overflow: hidden;
    }

    .main-wrapper {
        position: relative;
        flex: 1;
        overflow: hidden;
        width: calc(100%);
        background-color: $base;
        border-radius: 4px;
        border: 1px solid $border-color;
    }
}

.options-popup {
    position: fixed;
    z-index: 9;
    background-color: $light-base;
    width: 350px;
    max-width: 350px;
    height: 205px;
    max-height: 205px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid $border-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);

    .search-wrapper {
        position: relative;
        margin-bottom: 8px;

        .input {
            padding: 8px 16px 8px 36px;
            border: 1px solid $border-color;
            border-radius: 4px;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            background-color: $base;
            color: $on-base;
            width: 100%;
            outline: none;
        }

        .search-icon {
            position: absolute;
            top: 10px;
            left: 16px;
        }
    }

    .options-list-wrapper {
        height: auto;
        max-height: 130px;

        // display: flex;
        // flex-direction: column;
        // border: 1px solid #dfdfdf;
        // border-radius: 4px;
        // overflow: auto;
        .title {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration-line: underline;
            margin-bottom: 12px;
        }

        .options-list-container {
            display: grid;
            gap: 4px;
            grid-template-columns: repeat(3, 1fr);
            max-height: 104px;
            overflow: auto;

            .option-wrapper {
                display: flex;
                gap: 4px;
                padding: 7px 4px;
                border-radius: 4px;
                border: 1px solid $border-color;
                background-color: $base;
                color: $on-base;

                .option-icon {
                    height: 16px;
                    width: 16px;
                    flex-shrink: 0;
                }

                .option-title {
                    margin: 0;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    word-break: break-all;
                    -ms-word-break: break-all;
                    @include elipses-1;
                }

                &:hover {
                    background-color: $light-primary;
                    cursor: pointer;
                }
            }
        }

    }

    .message {
        padding: 12px;
        border: 1px solid #dfdfdf;
        border-radius: 4px;
        font-size: 12px;
        text-align: center;
    }
}

.details-drawer {
    position: absolute;
    width: 400px;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: $base;
    padding: 24px;
    border-left: 1px solid $border-color;
    padding: 16px;

    .actions-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }
}

.input-wrapper {
    .label {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 4px;
        text-transform: capitalize;
    }

    .input {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        background-color: $light-base;
        border: 1px solid $border-color;
        border-radius: 4px;
        padding: 8px 16px;
        width: 100%;
        margin-bottom: 16px;
    }

    .options-wrap {
        margin: 0 0 16px;
    }
}

// .dropdown-wrapper {
//     margin-bottom: 24px;

//     .label {
//         font-size: 12px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: normal;
//         margin-bottom: 4px;
//         text-transform: capitalize;
//     }

//     .selected-wrapper {
//         position: relative;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         padding: 8px;
//         border-radius: 4px;
//         border: 1px solid $border-color;
//         background-color: $light-base;

//         .selected-option {
//             font-size: 13px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: normal;
//             margin: 0;
//             text-transform: capitalize;
//         }

//         .icon {
//             height: 16px;
//             width: 16px;

//             &.open {
//                 transform: rotate(180deg);
//             }
//         }
//     }

//     .list-wrapper {
//         position: absolute;
//         top: 100%;
//         left: 0;
//         width: 100%;
//         max-height: 180px;
//         overflow: auto;
//         padding: 8px 0px;
//         border-radius: 4px;
//         border: 1px solid $border-color;
//         background-color: $light-base;

//         .list-option {
//             padding: 8px;
//             font-size: 13px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: normal;
//             background-color: $light-base;
//             cursor: pointer;
//             text-transform: capitalize;

//             &:hover,
//             &.active {
//                 background-color: $light-primary;
//             }
//         }
//     }
// }