<div class="dashboard-wrapper">

    <div class="dashboard-header">
        <div class="breadcrumbs-wrapper">
            <app-project-go-back-btn></app-project-go-back-btn>

            <h2 class="breadcrumb-item">
                {{ projectDetails?.projectName }}
            </h2>
        </div>

        <div class="actions-wrapper">
            <app-project-exit-btn></app-project-exit-btn>
        </div>
        <app-header></app-header>
    </div>

    <div class="dashboard-container">
        <div class="title-wrapper">
            <h2 class="title">Dashboard</h2>
        </div>

        <div class="dashboard-body-wrap">
            <div id="sentimentByRatingChart" class="sentiment-by-rating-chart-wrap"></div>
        </div>
    </div>
</div>
