@import 'src/styles/_mixins';


.dashboard-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    .dashboard-header {
        position: sticky;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        flex: 0;
        z-index: 1;
        background-color: $light-base;

        .breadcrumbs-wrapper {
            display: flex;
            margin-right: auto;
            gap: 18px;

            .back-icon {
                height: 20px;
                width: 20px;
                cursor: pointer;
            }

            .breadcrumb-item {
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                margin: 0;
            }
        }

        .actions-wrapper {
            display: flex;
            gap: 16px;
        }
    }

    .dashboard-container {
        position: relative;
        margin-right: 16px;
        padding: 16px;
        flex: 1;
        border-radius: 4px;
        border: 1px solid $border-color;
        background-color: $base;

        .title-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            .title {
                font-size: 16px;
                font-weight: 600;
                color: $on-base;
                margin: 0;
            }
        }

        .dashboard-body-wrap {
            width: 100%;

            .sentiment-by-rating-chart-wrap{
                padding: 24px;
                width: 100%;
                max-width: 548px;
                aspect-ratio: 16/9;
                border-radius: 8px;
                box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.4);
            }
        }
    }
}