@import '../../../../styles/_mixins';

.dropdown-wrap {
    position: relative;
    width: 100%;
    border-radius: 4px;
    outline: none;
    background-color: $light-base;
    @include user-select-none();

    .selected-option-wrap {
        padding: 8px 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 12px;
        border-radius: inherit;
        background-color: $light-base;
        border: 1px solid $border-color;

        .selected-option {
            flex: 1 0;
            color: $on-base;
            font-family: $base-font-family;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            @include elipses-1;
        }

        .icon-wrap {
            width: fit-content;
            height: fit-content;

            .icon {
                width: 16px;
                height: 16px;
                display: block;
            }

            &.expanded {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    .options-container {
        padding: 1px 0;
        width: 100%;
        position: absolute;
        top: 100%;
        border: 1px solid $border-color;
        border-radius: 4px;
        background-color: $light-base;
        overflow: hidden;
        z-index: 9;

        .search-box {
            position: relative;
            border-bottom: 1px solid $border-color;
            border-radius: inherit;
            background-color: inherit;
            overflow: hidden;

            .input {
                padding: 8px 8px 8px 32px;
                width: 100%;
                height: auto;
                color: $on-light-base;
                font-family: $base-font-family;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background-color: transparent;
            }

            .icon {
                width: auto;
                height: 18px;
                display: block;
                position: absolute;
                top: 50%;
                left: 10px;
                color: $on-base;
                transform: translateY(-50%);
                z-index: 1;
            }
        }

        .options-wrap {
            padding: 10px 6px;
            max-height: 250px;
            border-radius: inherit;
            background-color: $light-base;
            overflow: hidden auto;

            .option-wrap {
                padding: 4px 8px;
                border-radius: 4px;
                overflow: hidden;

                .option {
                    color: $on-light-base;
                    font-family: $base-font-family;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                    word-break: break-all;
                    @include elipses-1;
                }

                &.selected {
                    background-color: $light-primary;

                    .option {
                        font-size: 13px;
                        font-weight: 500;
                    }
                }

                &:hover {
                    background-color: $light-primary;
                    cursor: pointer;
                }

                &:not(:last-child) {
                    margin: 0 0 4px;
                }
            }
        }
    }
}