<div class="chatbot-wrapper">

    <div class="chatbot-header">
        <div class="breadcrumbs-wrapper">
            <app-project-go-back-btn></app-project-go-back-btn>

            <h2 class="breadcrumb-item">
                {{ projectDetails?.projectName }}
            </h2>
        </div>

        <div class="actions-wrapper">
            <app-project-exit-btn></app-project-exit-btn>
        </div>
        <app-header></app-header>
    </div>

    <div class="chatbot-container">
        <div class="title-wrapper">
            <h2 class="title">Chat With Confluence</h2>

            <div class="hallucination-wrap">
                <label for="hallucinationToggler">
                    <div class="label-title">Show Hallucination</div>
                </label>
                <label for="hallucinationToggler">
                    <div class="hallucination" [class.on]="hallucinationToggler">
                        <div class="tap-round"></div>
                        <input type="checkbox" id="hallucinationToggler" name="hallucinationToggler" [(ngModel)]="hallucinationToggler">
                    </div>
                </label>
            </div>
        </div>

        <div class="chat-box" #chatBoxContainer>
            <div class="chat-content">
                <ng-container *ngFor="let chat of chats">
                    <ng-container [ngSwitch]="chat.type">
                        <div *ngSwitchCase="'ai'" class="ai-message"
                        [ngClass]="{
                            'high': hallucinationToggler && chat.hallucination && chat.hallucination >= 75,
                            'medium': hallucinationToggler && chat.hallucination && chat.hallucination >= 50 && chat.hallucination < 75,
                            'low': hallucinationToggler && chat.hallucination && chat.hallucination < 50
                        }">
                            {{chat.message}}
                        </div>
                        <div *ngSwitchCase="'user'" class="user-message">
                            {{chat.message}}
                        </div>
                    </ng-container>
                </ng-container>
                <div *ngIf="aiLoader">
                    <span class="jumping-loader">
                        <span class="loader dot-1"></span>
                        <span class="loader dot-2"></span>
                        <span class="loader dot-3"></span>
                    </span>
                </div>
            </div>
            <div class="chat-footer">
                <div class="chat-input-wrap">
                    <textarea class="chat-input" placeholder="Type your message..." [(ngModel)]="userQuery" (keydown)="handleKeyDown($event)"></textarea>
                    <div class="send-icon" (click)="sendMessage()">
                        <svg class="icon" viewBox="0 0 40 40" x="0px" y="0px">
                            <g data-name="Layer 2">
                                <path
                                    d="M28.725,11a.289.289,0,0,0-.106.021L8.085,18.657a.13.13,0,0,0-.005.242l8.257,3.413,6.257-6.257a1,1,0,1,1,1.414,1.414L17.72,23.758l2.742,8.069a.114.114,0,0,0,.119.088c.126,0,.113-.052.125-.082l8.271-20.446A.284.284,0,0,0,28.725,11Z" />
                                <path
                                    d="M20,1A19,19,0,1,0,39,20,19.021,19.021,0,0,0,20,1ZM30.83,12.137,22.56,32.583a2.111,2.111,0,0,1-1.972,1.332h-.063a2.115,2.115,0,0,1-1.957-1.444l-2.8-8.229L7.316,20.748a2.131,2.131,0,0,1,.072-3.966L27.923,9.146a2.279,2.279,0,0,1,2.907,2.991Z" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>