@import 'src/styles/_mixins';


.app-container {
    .app-content {
        display: flex;
        flex-flow: column nowrap;
        overflow: auto;

        .inner-header-wrap {
            .right-action-wrap {
                .hallucination-wrap {
                    margin: 7px 0;
                    display: flex;
                    gap: 0 12px;

                    label[for="hallucinationToggler"] {
                        height: 20px;
                    }

                    .hallucination {
                        position: relative;
                        width: 36px;
                        height: 20px;
                        display: inline-block;
                        border-radius: 10px;
                        background-color: $light-primary;
                        cursor: pointer;

                        .tap-round {
                            width: 16px;
                            height: 16px;
                            position: absolute;
                            left: 2px;
                            top: 2px;
                            overflow: hidden;
                            border-radius: 10px;
                            background-color: $base;
                        }

                        &.on {
                            background-color: $primary;

                            .tap-round {
                                left: unset;
                                right: 2px;
                            }
                        }

                        input[type="checkbox"] {
                            display: none;
                        }
                    }

                    .label-title {
                        color: $on-base;
                        font-family: $base-font-family;
                        font-size: 14px;
                        font-style: normal;
                        line-height: 20px;
                        /* 142.857% */
                        text-transform: capitalize;
                        cursor: pointer;
                        @include user-select-none;
                    }
                }
            }
        }


        .chat-box {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            gap: 18px;
            border-radius: 5px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }

            &::-webkit-scrollbar-track {
                background-color: darkgray;
                border-radius: 50em;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $primary;
                width: 8px;
                border-radius: 50em;
            }

            .chat-content {
                margin: auto;
                padding: 10px;
                width: 100%;
                max-width: 800px;
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 10px;
                // overflow-y: auto;
                white-space: pre-line;

                .ai-message,
                .user-message {
                    padding: 10px;
                    max-width: 70%;
                    font-family: $base-font-family;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-align: justify;
                }

                .ai-message {
                    align-self: flex-start;
                    background-color: #ddccf9;
                    color: $on-light-base;
                    // border: 1px solid $border-color;
                    border-radius: 10px 10px 10px 2px;

                    &.high {
                        box-shadow: 0 2px 4px rgb(52, 168, 83);
                        // box-shadow: inset 0px -6px 3px -3px rgb(52, 168, 83);
                    }

                    &.medium {
                        box-shadow: 0 2px 4px rgb(251, 188, 5);
                        // box-shadow: inset 0px -6px 3px -3px rgb(251, 188, 5);
                    }

                    &.low {
                        box-shadow: 0 2px 4px rgb(234, 67, 53);
                        // box-shadow: inset 0px -6px 3px -3px rgb(234, 67, 53);
                    }
                }

                .user-message {
                    align-self: flex-end;
                    color: #141C25;
                    background-color: #ddccf9;
                    border-radius: 10px 10px 0px 10px;
                }

                .jumping-loader {
                    .loader {
                        display: inline-block;
                        position: relative;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $primary;
                        opacity: 0.5;
                        animation: jump 1s infinite;

                        &:not(:last-child) {
                            margin-right: 3px;
                        }
                    }

                    .dot-1 {
                        animation-delay: 200ms;
                    }

                    .dot-2 {
                        animation-delay: 400ms;
                    }

                    .dot-3 {
                        animation-delay: 600ms;
                    }

                    @keyframes jump {
                        0% {
                            bottom: 0px;
                        }

                        20% {
                            bottom: 5px;
                        }

                        40% {
                            bottom: 0px;
                        }
                    }
                }
            }


            .chat-footer {
                position: sticky;
                bottom: 0;
                padding: 10px 0 0;
                background-color: $base;

                .chat-input-wrap {
                    margin: auto;
                    padding: 4px 0;
                    width: 100%;
                    max-width: 800px;
                    display: flex;
                    align-items: center;
                    border: 1px solid $border-color;
                    border-radius: 25px;
                    background-color: $base;
                    box-shadow: 0px -6px 16px 0px rgba(0, 0, 0, 0.1);

                    .chat-input {
                        flex: 1;
                        padding: 6px 12px 6px 20px;
                        width: 100%;
                        field-sizing: content;
                        max-height: 4lh;
                        align-content: center;
                        border: none;
                        border-radius: inherit;
                        resize: none;

                        &:focus-visible {
                            outline: none;
                        }
                    }

                    .send-icon {
                        padding: 0 5px;

                        .icon {
                            display: block;
                            height: 34px;
                            width: 34px;
                            fill: $primary;
                            cursor: pointer;

                            &:hover {
                                opacity: 0.85;
                            }
                        }
                    }
                }
            }
        }
    }
}