@import 'src/styles/mixins';

.upload-wrapper {
    padding: 26px 26px;
    width: 550px;
    border-radius: 4px;
    border: 1px solid $border-color;

    .title {
        margin-bottom: 16px;
        padding-bottom: 4px;
        color: $on-light-base;
        font-family: $base-font-family;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        border-bottom: 1px solid $border-color;
    }

    .scrollable-content {
        margin-bottom: 16px;
        padding-right: 4px;
        max-height: 465px;
        overflow: hidden auto;
        position: relative;

        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }

        &::-webkit-scrollbar-track {
            background-color: #F3F3F5;
            border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #E7E7E7;
            width: 4px;
            border-radius: 3px;
        }
    }

    .media-upload-list {
        margin-bottom: 24px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px 0;

        .media-upload-wrap {
            display: grid;
            grid-template-columns: 1fr 136px max-content;
            gap: 0 12px;

            .media-upload {
                padding: 8px 16px;
                display: grid;
                grid-template-columns: 1fr;
                gap: 6px 0;
                align-items: center;
                border-radius: 4px;
                background: $light-base;
                border: 1px solid $border-color;

                .progress-bar-wrap {
                    height: 4px;
                    border-radius: 2px;
                    background-color: $light-primary;

                    .bar {
                        width: 0%;
                        height: inherit;
                        border-radius: inherit;
                        background-color: $primary;

                        &.success {
                            background-color: #5FAD56;
                        }
                    }
                }

                .media-title {
                    color: $on-light-base;
                    font-family: $base-font-family;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-align: center;
                    text-transform: uppercase;
                    word-break: break-all;
                    @include elipses-1;
                }
            }

            .delete-icon-wrap {
                display: flex;
                align-items: center;
                @include user-select-none;

                .delete-icon {
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                }
            }
        }
    }

    .upload-file-label {
        margin-bottom: 2px;
        display: inline-block;
        color: $on-light-base;
        font-family: $base-font-family;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .uploader-wrapper {
        margin-bottom: 32px;
        padding: 24px 36px;
        width: 100%;
        height: 124px;
        border-radius: 4px;
        border: 1px solid $border-color;
        background: $light-base;
        overflow: hidden;

        .message-wrapper {
            color: $on-light-base;
            font-family: $base-font-family;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;

            .label {
                color: $primary;
                cursor: pointer;
            }

            .file-select {
                display: none;
            }

            .mime-types {
                margin-top: 8px;
                text-transform: uppercase;
            }
        }
    }

    .file-err {
        margin: -20px 0 16px;
        color: $error;
        font-family: $base-font-family;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .or {
        margin-bottom: 24px;
        position: relative;
        color: #637083;
        font-family: $base-font-family;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: $border-color;
            width: 230px;
            left: 0px;
            top: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: $border-color;
            width: 230px;
            right: 0px;
            top: 50%;
        }
    }

    .url-form {
        // margin-bottom: 32px;

        label {
            margin-bottom: 2px;
            display: inline-block;
            color: $on-light-base;
            font-family: $base-font-family;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        input {
            margin: 0;
            padding: 8px 8px;
            color: $on-light-base;
            font-family: $base-font-family;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border-radius: 4px;
            border: 1px solid $border-color;
            outline: none;
            width: 100%;

            &::placeholder {
                color: rgba(10, 9, 8, 0.40);
            }
        }

        .error-msg {
            margin: 6px 0;
            color: $error;
            font-family: $base-font-family;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}

:host {
    ::ng-deep {
        .dropdown-wrap .selected-option-wrap {
            padding: 11px 8px !important;
        }
    }
}