@import 'src/styles/mixins';

.upload-wrapper {
    padding: 32px 56px;
    width: 640px;

    .title {
        text-align: center;
        font-family: $raleway-600;
        font-size: 24px;
        font-style: normal;
        line-height: 36px;
        margin-bottom: 32px;
    }

    .scrollable-content {
        padding-right: 4px;
        max-height: 465px;
        margin-bottom: 32px;
        overflow: hidden auto;
        position: relative;

        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }

        &::-webkit-scrollbar-track {
            background-color: #F3F3F5;
            border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #E7E7E7;
            width: 4px;
            border-radius: 3px;
        }
    }

    .media-upload-list {
        margin-bottom: 24px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px 0;

        .media-upload-wrap {
            display: grid;
            grid-template-columns: 1fr 136px 19px;
            gap: 0 12px;

            .media-upload {
                padding: 8px 16px;
                display: grid;
                grid-template-columns: 1fr;
                gap: 6px 0;
                align-items: center;
                border-radius: 12px;
                background: rgba(236, 236, 254, 0.50);

                .progress-bar-wrap {
                    height: 4px;
                    border-radius: 2px;
                    background-color: #D8D8FF;

                    .bar {
                        width: 0%;
                        height: inherit;
                        border-radius: inherit;
                        background-color: $primary;

                        &.success {
                            background-color: #5FAD56;
                        }
                    }
                }

                .media-title {
                    color: rgba(10, 9, 8, 0.80);
                    text-align: center;
                    font-family: $raleway-500;
                    font-size: 10px;
                    font-style: normal;
                    line-height: 20px;
                    /* 200% */
                    text-transform: uppercase;
                    word-break: break-all;
                    @include elipses-1;
                }
            }

            .media-language-wrap {
                border-radius: 12px;
                background: rgba(236, 236, 254, 0.50);
            }

            .delete-icon-wrap {
                display: flex;
                align-items: center;
                @include user-select-none;

                .delete-icon {
                    width: 19px;
                    height: 20px;
                    cursor: pointer;
                }
            }
        }
    }

    .uploader-wrapper {
        padding: 24px 36px;
        width: 100%;
        height: 124px;
        border-radius: 12px;
        border: 1px dashed #5386E4;
        background: rgba(236, 236, 254, 0.50);
        overflow: hidden;
        margin-bottom: 32px;

        .message-wrapper {
            font-family: $raleway-600;
            font-size: 16px;
            font-style: normal;
            line-height: 24px;
            text-align: center;

            .label {
                color: $on-secondary;
                cursor: pointer;
            }

            .file-select {
                display: none;
            }

            .gray {
                color: rgba(10, 9, 8, 0.80);
            }

            .small {
                color: rgba(10, 9, 8, 0.80);
                text-align: center;
                font-family: $raleway-500;
                font-size: 10px;
                font-weight: 500;
                line-height: 20px;
                text-transform: uppercase;
                margin-top: 8px;
            }
        }
    }

    .file-err {
        margin: -20px 0 16px;
        font-family: $raleway-500;
        color: $error;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .or {
        position: relative;
        color: rgba(10, 9, 8, 0.80);
        text-align: center;
        font-family: $raleway-500;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 24px;

        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: #ECECFE;
            width: 230px;
            left: 0px;
            top: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: #ECECFE;
            width: 230px;
            right: 0px;
            top: 50%;
        }
    }

    .url-form {
        // margin-bottom: 32px;

        label {
            font-family: $raleway-500;
            font-size: 12px;
            margin-bottom: 8px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }

        input {
            margin: 0;
            padding: 12px 16px;
            font-family: $raleway-500;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            border-radius: 12px;
            border: 1px solid #D8D8FF;
            outline: none;
            width: 100%;

            &::placeholder {
                color: rgba(10, 9, 8, 0.40);
            }
        }
    }
}

.dropdown-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px 0;

    .dropdown-wrap {
        position: relative;
        border-radius: 8px;
        outline: none;
        background-color: rgba(236, 236, 254, 0.50);
        @include user-select-none();

        .selected-option-wrap {
            padding: 12px 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0 10px;
            border-radius: inherit;
            cursor: pointer;

            .selected-option {
                color: $primary;
                font-family: $raleway-500;
                font-size: 14px;
                font-style: normal;
                line-height: 24px;
                text-transform: capitalize;
                word-break: break-all;
                @include elipses-1;
            }

            .icon-wrap {
                width: 24px;
                height: 24px;
                color: rgba(138, 138, 255, 1);
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transition: transform 0.2s linear;

                &.open {
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    transition: transform 0.2s linear;
                }

                .icon {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .options-container {
            position: absolute;
            top: calc(100% + 8px);
            width: 100%;
            z-index: 9;
            border-radius: 8px;
            border: 1px solid #D8D8FF;
            overflow: hidden;

            .options-wrap {
                padding: 8px 0;
                max-height: 250px;
                overflow: hidden auto;
                border-radius: inherit;
                background-color: $base;

                .option-wrap {
                    padding: 8px 12px;
                    display: flex;
                    align-items: center;
                    gap: 0 8px;
                    cursor: pointer;

                    .option {
                        flex: 1;
                        color: $on-base;
                        font-family: $raleway-500;
                        font-size: 12px;
                        font-style: normal;
                        line-height: 20px;
                        text-transform: capitalize;
                        @include elipses-1;
                    }

                    .icon-wrap {
                        display: none;
                        width: 20px;
                        height: 20px;
                        overflow: hidden;

                        &.selected {
                            display: block;
                        }

                        .icon {
                            width: 20px;
                            height: 20px;
                            color: $on-base-blue;
                        }
                    }
                }
            }
        }
    }
}