<div class="mom-container">

    <div class="mom-header">
        <div class="breadcrumbs-wrapper">
            <app-project-go-back-btn [skipNavigation]="!!this.selectedRecording?._id" (onClick)="onGoBack($event)"></app-project-go-back-btn>

            <h2 class="breadcrumb-item">
                {{ projectDetails?.projectName }}
            </h2>
        </div>
        <div class="actions-wrapper">
            <app-project-exit-btn></app-project-exit-btn>
        </div>
        <app-header></app-header>
    </div>

    <div class="body">
        <ng-container [ngSwitch]="selectedRecording ? 'selectedView' : 'listView'">
            <ng-container *ngSwitchCase="'listView'">
                <div class="inner-header">
                    <h2 class="title">MoM</h2>
        
                    <div class="right-side">
                    </div>
                </div>
        
                <div class="media-wrap" *ngIf="recordingList.length; else noMediaView;">
                    <div class="media-item" *ngFor="let recording of recordingList;" (click)="onSelectRecording(recording)">
                        <div class="media-img">
                            <img class="img" src="{{recording?.thumbnailUrl}}" alt="project">
                        </div>
                        <div class="media-details">
                            <h2 class="media-name">Meeting of {{_moment(recording.createdAt).format('Do MMM, [At] h:mm A')}}</h2>
                            <div class="media-desc">Author: {{ recording?.userId ? (recording.userId?.firstName + " " +
                                recording.userId?.lastName) : "--" }}</div>
                        </div>
                    </div>
                </div>

                <ng-template #noMediaView>
                    <div class="no-media">
                        <div class="icon">
                            <img class="icon" src="assets/images/mom.png" alt="Minutes Of Meeting">
                        </div>
                        <div class="subtitle">No list yet</div>
                    </div>
                </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'selectedView'">
                <div class="inner-header">
                    <!-- <h2 class="title large">Meeting of {{selectedRecording.createdAt | date:'d LLLL'}}</h2> -->
                    <h2 class="title large">Meeting of {{_moment(selectedRecording.createdAt).format('Do MMM, [At] h:mm A')}}</h2>

                    <div class="right-side">
                        <button class="app-button primary" (click)="goToRecordingListView()">
                            <span class="btn-label">Go Back</span>
                        </button>
                    </div>
                </div>

                <div class="pills-wrap">
                    <div class="pill-wrap" *ngFor="let tab of _tabList;" [class.selected]="selectedTab === tab" (click)="onSelectTab(tab)">
                        {{ tab }}
                    </div>
                </div>

                <ng-container [ngSwitch]="selectedTab">
                    <ng-container *ngSwitchCase="_tabList[0]">
                        <div id="meeting-summary"></div>
                    </ng-container>
                    <ng-container *ngSwitchCase="_tabList[1]">
                        <div id="meeting-actions"></div>
                    </ng-container>
                    <ng-container *ngSwitchCase="_tabList[2]">
                        <div class="sentiment-analysis-wrap">
                            <div id="SentimentAnalysisSemiCircleDonutChart" class="sentiment-analysis-semi-circle-donut-chart-wrap"></div>
                            <div *ngIf="momData?.sentimentAnalysis?.pointName" class="selected-point-wrap">
                                <h2 class="point-title">{{momData?.sentimentAnalysis?.pointName}} Points</h2>
                                <ul class="points-wrap" *ngIf="momData.sentimentAnalysis[momData.sentimentAnalysis?.selectFrom]?.length">
                                    <li class="point" *ngFor="let point of momData.sentimentAnalysis[momData.sentimentAnalysis.selectFrom]">
                                        {{point}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>