@import 'src/styles/_mixins';


.mom-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    .mom-header {
        position: sticky;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        flex: 0;
        z-index: 1;
        background-color: $light-base;

        .breadcrumbs-wrapper {
            display: flex;
            margin-right: auto;
            gap: 18px;

            .back-icon {
                height: 20px;
                width: 20px;
                cursor: pointer;
            }

            .breadcrumb-item {
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                margin: 0;
            }
        }

        .actions-wrapper {
            display: flex;
            gap: 16px;
        }
    }

    .body {
        margin-right: 16px;
        padding: 16px;
        position: relative;
        flex: 1;
        border: 1px solid $border-color;
        border-radius: 4px;
        background-color: $base;
        overflow: auto;

        .inner-header {
            margin: 0 0 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px 0;

            // .breadcrumb-wrap {
            //     display: flex;
            //     gap: 0 16px;
            //     text-transform: capitalize;
            //     color: $on-base-light;
            //     font-family: 'raleway-500';
            //     font-size: 14px;
            //     font-style: normal;
            //     line-height: 20px;

            //     .label {
            //         font-family: $raleway-500;
            //         font-size: 14px;
            //         line-height: 20px;
            //     }
            // }

            .title {
                margin: 0;
                font-size: 16px;
                font-weight: 600;
                color: $on-base;
                word-break: break-all;
                @include elipses-1;

                &.large {
                    font-size: 28px;
                }
            }

            .right-side {
                display: flex;
                gap: 0 20px;
            }
        }

        .media-wrap {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 16px;

            .media-item {
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background: $light-base;
                border: 1px solid $border-color;
                overflow: hidden;

                .media-img {
                    width: 100%;
                    aspect-ratio: 2/1;
                    overflow: hidden;
                    background-color: $light-base;
                    border-bottom: 1px solid $border-color;

                    .img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        -webkit-user-drag: none;
                    }
                }

                .media-details {
                    padding: 8px;

                    .media-name {
                        margin: 0;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        text-transform: capitalize;
                        margin-bottom: 4px;
                        @include elipses-1();
                    }

                    .media-desc {
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        @include elipses-2();
                    }
                }

                &:hover,
                &.active {
                    cursor: pointer;
                    border-color: $light-primary;

                    .media-details {
                        background-color: $light-primary;
                    }
                }
            }
        }

        .no-media {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 70px - 170px);
            padding-bottom: 150px;

            .icon {
                width: 104px;
                aspect-ratio: 1/1;
                margin-bottom: 16px;
            }

            .title {
                font-family: $base-font-family;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 36px;
            }

            .subtitle {
                color: #8A8A8A;
                text-align: center;
                font-family: $base-font-family;
                font-size: 16px;
                line-height: 24px;
            }
        }


        .pills-wrap {
            margin-bottom: 16px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            gap: 24px;

            .pill-wrap {
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 1.5;
                text-transform: capitalize;
                text-wrap: nowrap;
                border-bottom: 2px solid transparent;
                cursor: pointer;

                &:hover,
                &.selected {
                    border-bottom: 2px solid $primary;
                }
            }
        }


        .sentiment-analysis-wrap {
            display: flex;
            flex-flow: column nowrap;
            gap: 24px;
            align-items: flex-start;

            .sentiment-analysis-semi-circle-donut-chart-wrap {
                margin: 0 auto;
                padding: 24px;
                flex: 1;
                width: 100%;
                max-width: 1000px;
                // aspect-ratio: 16/9;
                border-radius: 8px;
                box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.4);
            }

            .selected-point-wrap {
                flex: 1;
                align-self: flex-start;

                .point-title {
                    margin: 0 0 16px;
                    font-size: 20px;
                    font-weight: 600;
                    color: $on-base;
                }

                .points-wrap {
                    margin: 0;
                    padding: 0;
                    padding-inline-start: 16px;
                    list-style: disc;

                    .point {
                        margin: 0 0 6px;
                        color: $on-base;
                        font-family: $base-font-family;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }

            @include device(xl, xxl) {
                flex-flow: row nowrap;
                padding: 2px;
                height: calc(100% - 32px - 38px - 26px - 10px);
                overflow: auto;

                .selected-point-wrap {
                    height: 100%;
                    overflow: auto;
                    .points-wrap {
                        height: calc(100% - 28px - 16px);
                        overflow: auto;
                    }
                }
            }
        }

    }
}

h2, h3 {
    font-weight: bold !important;
    margin-top: 16px;
    margin-bottom: 12px;
}

ul {
    list-style-type: disc !important;
    margin: 0 !important;
}