@import 'src/styles/_mixins';


.team-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;

    .team-header {
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        background-color: $light-base;
        z-index: 9;

        .breadcrumbs-wrapper {
            margin-right: auto;
        }
    }

    .team-wrapper {
        flex: 1;
        position: relative;
        overflow: auto;
        background-color: $base;
        border: 1px solid transparent;
        border-color: $border-color $border-color transparent $border-color;
        border-radius: 4px;
        margin-right: 16px;
        padding: 16px;

        .title {
            margin-bottom: 16px;
            color: $on-base;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .search-wrapper {
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            gap: 16px;

            .app-button {
                margin-right: auto;
            }

            .view-wrapper {
                display: flex;
                align-items: center;
                border-radius: 4px;
                border: 1px solid $border-color;
                overflow: hidden;
                min-width: 64px;

                .view-button {
                    width: 32px;
                    height: 32px;
                    padding: 8px;
                    background-color: $light-base;
                    color: $on-light-base;
                    cursor: pointer;

                    .icon {
                        width: 16px;
                        height: 16px;
                    }

                    &.active {
                        background-color: $primary;
                        color: $on-primary;
                    }
                }
            }

            .filter-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                padding: 8px 16px;
                border: 1px solid $border-color;
                background-color: $light-base;
                color: $on-light-base;
                border-radius: 4px;
                cursor: pointer;

                .filter-icon {
                    height: 16px;
                    width: 16px;
                }

                .filter-label {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            .search-container {
                position: relative;

                .search-input {
                    padding: 8px 16px;
                    padding-left: 36px;
                    border-radius: 4px;
                    background-color: $light-base;
                    font-size: 14px;
                    font-weight: 500;
                    color: $on-light-base;
                    line-height: normal;
                    border: 1px solid $border-color;
                }

                .search-icon {
                    position: absolute;
                    top: 10px;
                    left: 16px;
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
}