.app-button {
	margin: 0;
	padding: 6px 16px 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $base-font-family;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	border: 1px solid $border-color;
	outline: none;
	border-radius: 4px;
	@include user-select-none();
	cursor: pointer;

	&.small {
		padding: 8px 25px;
		font-size: 14px;
	}

	&.primary {
		color: $on-primary;
		background-color: $primary;

		// &:hover {
		// 	color: $primary;
		// 	background-color: $on-primary;
		// 	box-shadow: inset 0px 0px 1px 1px currentColor;
		// }

		&:disabled,
		&.disabled {
			opacity: 0.6;
			cursor: not-allowed;
		}
	}

	&.secondary {
		color: $on-secondary;
		background-color: $secondary;

		// &:hover {
		// 	color: $secondary;
		// 	background-color: $on-secondary;
		// 	box-shadow: inset 0px 0px 1px 1px currentColor;
		// }

		&:disabled,
		&.disabled {
			opacity: 0.6;
			cursor: not-allowed;
		}
	}

	&.simple {
		color: $on-base-blue;
		background-color: $base;

		&:disabled,
		&.disabled {
			opacity: 0.6;
			cursor: not-allowed;
		}
	}

	&.cancel {
		color: $on-light-base;
		background-color: $light-base;

		&:disabled,
		&.disabled {
			opacity: 0.6;
			cursor: not-allowed;
		}
	}

	&.white-bg {
		color: $on-base-blue;
		background-color: $base;
	}

	&.wide {
		width: 100%;
	}

	&.icon-only {
		padding: 3px 8px;

		.btn-icon {
			margin: 0;
			width: 24px;
			height: 24px;
		}
	}

	.btn-icon {
		flex-shrink: 0;
		width: 16px;
		height: 16px;
		color: inherit;
		margin-right: 4px;
		pointer-events: none;
	}

	.btn-label {
		color: inherit;
		pointer-events: none;
		line-height: inherit;
		font-family: inherit;
		font-size: inherit;
		font-style: inherit;
		line-height: inherit;
		text-transform: capitalize;
		@include elipses-1;
	}
}