<div class="auth-layout-form">
    <div class="header">
        <div class="logo-wrap">
            <svg width="60" height="40" viewBox="0 0 60 40" fill="none">
                <rect width="20" height="40" fill="#0B0BCF" />
                <rect x="20" width="40" height="40" fill="#5386E4" />
            </svg>
        </div>

        <h2 class="title">Forgot Password with<br><span class="blue">NexGen Force</span></h2>
    </div>


    <form class="form-body" [formGroup]="forgotPassForm" novalidate (ngSubmit)="onForgotPassword()">
        <div class="input-wrap">
            <label class="label required" for="email">Work Email</label>
            <input class="input" type="text" formControlName="email" id="email"
                [class.has-info]="email?.touched && email?.['errors']" [readonly]="isForgetPasswordLinkSendSuccessfully"
                placeholder="Work Email" />

            <div *ngIf="email?.touched && email?.errors">
                <p class="err-msg" *ngIf="email?.errors?.['required']">
                    Email is required!
                </p>
                <p class="err-msg" *ngIf="email?.errors?.['pattern']">
                    Please enter valid email Address!
                </p>
                <p class="err-msg" *ngIf="email?.errors?.['maxlength']">
                    An email address must not exceed 254 characters.
                </p>
            </div>
        </div>
        <p class="err-msg m-0" *ngIf="serverError">{{serverError}}</p>
        <span><a class="login-link" routerLink="{{appRoutes.LOGIN}}">Back to login</a></span>

        <button type="submit" class="app-button primary wide"
            [disabled]="isRequestAlive || isForgetPasswordLinkSendSuccessfully">Forgot Password</button>
    </form>
</div>