@import 'src/styles/_mixins';


.auth-layout-form {
    .form-body {
        .login-link {
            color: $on-base-blue;
            font-family: $raleway-600;
            font-size: 12px;
            font-style: normal;
            line-height: 20px;
            /* 166.667% */
            text-transform: capitalize;
            text-decoration: none;
        }
    }

    .note {
        margin-top: 24px;
    }
}