<div class="auth-layout-form">

    <div class="header">
        <div class="logo-wrap">
            <svg width="60" height="40" viewBox="0 0 60 40" fill="none">
                <rect width="20" height="40" fill="#0B0BCF" />
                <rect x="20" width="40" height="40" fill="#5386E4" />
            </svg>
        </div>

        <h2 class="title">Reset Password with<br><span class="blue">NexGen Force</span></h2>
        <div class="reset-pass-adv">To reset your password simply enter your password twice below</div>
    </div>

    <form class="form-body" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="input-wrap">
            <label class="label required" for="password">Password</label>
            <input class="input" type="password" formControlName="password" name="password" id="password"
                placeholder="Password" [class.has-info]="password?.touched && password?.['errors']"
                (keydown.space)="$event.preventDefault();" (keydown.shift.space)="$event.preventDefault();">

            <div *ngIf="password?.touched && password?.errors">
                <p class="err-msg" *ngIf="password?.errors?.['required']">
                    password is required.
                </p>
                <p class="err-msg" *ngIf="password?.errors?.['minlength']">
                    password must be longer than 8 characters.
                </p>
                <p class="err-msg" *ngIf="!password?.errors?.['minlength'] && password?.errors?.['pattern']">
                    password must be contain at least one digit and one of the !@#$. special character.
                </p>
            </div>
        </div>

        <div class="input-wrap">
            <label class="label required" for="confirmPassword">Confirm password</label>
            <input class="input" type="password" formControlName="confirmPassword" name="confirmPassword"
                id="confirmPassword" placeholder="Confirm Password"
                [class.has-info]="confirmPassword?.touched && confirmPassword?.['errors']"
                (keydown.space)="$event.preventDefault();" (keydown.shift.space)="$event.preventDefault();">

            <div *ngIf="confirmPassword?.touched && confirmPassword?.errors">
                <p class="err-msg" *ngIf="confirmPassword?.errors?.['required']">
                    confirm password is required.
                </p>
                <p class="err-msg"
                    *ngIf="!confirmPassword?.errors?.['required'] && confirmPassword?.errors?.['confirm']">
                    passwords doesn't match.
                </p>
            </div>
        </div>
        <button type="submit" class="app-button primary wide" style="margin-top: 24px;">
            Reset password
        </button>
    </form>

</div>